body {
    border: 3px solid black;
}

.container {
    margin: auto;
    width: 1160px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #782221;
}

.header__title {
    font-family: "Lato";
    font-size: 2em;
    color: white;
    margin: 10px;
}

.header__text {
    font-family: "Raleway-Regular";
    font-size: 1.5em;
    color: white;
    margin-top: 10px;
}

.photo-profile {
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.photo-profile__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 15px #dbc2a4;
}